body {
    margin: 0;
    overflow: hidden;
    background-color: #0e0e0e; /* Dark Kick Background */
}

#canvas-container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    border-bottom: 5px solid #53fc18; /* Green floor glow */
}

#leaderboard {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #53fc18;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    min-width: 140px;
}